@using JsonlCompare.Client.Components
@using JsonlCompare.Client.Interfaces
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json.Linq

@inject IJsonContainer jsonContainer
@inject IJsonContentChangeService jsonContentChangeService
@inject IJSRuntime runtime

@inject IMatDialogService matDialogService

@inject ILogger<Index> logger

@page "/"

<link href="css/Index.css" rel="stylesheet">
<div>
    <MatPaper Elevation="5" Rounded="true" Class="info-container">
        <div>
            <div class="dropzone" @ref="dropZoneElement">
                <h1>Jsonl Compare</h1>
                <p>This web app allows comparing json data in a .jsonl file. Upload a file here by dragging and dropping it here.
                    The json data is packed in a table. Differing properties are merged. The side bar allows deselecting properties
                    that shall not be shown in the table. Open it by clicking on the hamburger button.
                    Select a json to show its content on the right side as formatted json.</p>
            </div>
        </div>
    </MatPaper>
</div>
<div class="property-table">
    <JsonlTableComponent/>
</div>
<div class="stick-to-right">
    <JsonViewComponent/>
</div>

@code {
    private ElementReference dropZoneElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var module = await runtime.InvokeAsync<IJSObjectReference>("import", new[] { "./dropzone.js" });

            var selfReference = DotNetObjectReference.Create(this);
            
            await module.InvokeAsync<IJSObjectReference>("initializeFileDropZone", dropZoneElement, selfReference);
        }
    }

    [JSInvokable]
    public void ClearContainer()
    {
        jsonContainer.Clear();
    }

    [JSInvokable]
    public async Task AddFile(string content)
    {
        var errorCount = 0;
        foreach (var json in content.Split("\n"))
        {
            try
            {
                jsonContainer.Add(JObject.Parse(json));
            }
            catch (Exception e)
            {
                errorCount++;
                logger.LogInformation(e, "Could not parse json {Json}", json);
            }
        }
        
        if(errorCount > 0)
            await matDialogService.AlertAsync($"Could not parse {errorCount} jsons from the given file");
        
        jsonContentChangeService.SignalChange();
    }
}