@using JsonlCompare.Client.Components
@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Fixed="true">
        <MudIconButton Icon="@Icons.Filled.Menu" Color="Color.Tertiary" OnClick="@ToggleDrawer" Edge="Edge.Start"></MudIconButton>
        <h1>JsonlCompare - Compare json lines format (.jsonl)</h1>
        <MudSpacer></MudSpacer>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Tertiary" Link="https://github.com/Ben757/JsonlCompare" Edge="Edge.End"></MudIconButton>
    </MudAppBar>
    <MudDrawer @bind-Open="Opened" Variant="@DrawerVariant.Persistent">
        <MudDrawerHeader></MudDrawerHeader>
        <div class="drawer">
            <PropertySelectionSidebarComponent></PropertySelectionSidebarComponent>
        </div>
    </MudDrawer>
    <MudMainContent>
        <div class="content">
            @Body
        </div>
    </MudMainContent>
</MudLayout>


@code {
    private bool Opened { get; set; }

    private void ToggleDrawer()
    {
        Opened = !Opened;
    }
}
