@using JsonlCompare.Client.Components
@inherits LayoutComponentBase

<MatAppBarContainer>
    <MatAppBar Fixed="true" Style="z-index: 100;">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@ToggleDrawer"></MatIconButton>
                <MatAppBarTitle>JsonlCompare - Compare json lines format (.jsonl)</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="favorite"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    
    <MatAppBarContent>
        <MatDrawerContainer Style="width: 100%; height: 91vh;">
            <MatDrawer @bind-Opened="@Opened">
                <div class="drawer">
                    <MatNavMenu Multi="true">
                        <PropertySelectionSidebarComponent></PropertySelectionSidebarComponent>
                    </MatNavMenu>
                </div>
            </MatDrawer>
            <MatDrawerContent>
                <div class="content">
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>


@code {
    private bool Opened { get; set; }

    private void ToggleDrawer()
    {
        Opened = !Opened;
    }
}
